In [1]:
from utils.compara_todos import compara_todos

## Atividade 2

In [2]:
d, i = compara_todos('./transformed_data/recfaces_20x20_sem_pca_sem_norm.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_sem_pca_sem_norm.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.24,0.00,21.21,6.06,3.85,750,26.19
Variante 1(Tikhonov),78.67,63.64,90.91,78.79,6.72,0,9.75
Variante 2(Pooled),6.42,0.00,27.27,6.06,5.48,0,13.12
Variante 3(Friedman),6.73,0.00,21.21,6.06,4.08,2,10.65
Variante 4(Naive Bayes),7.39,0.00,21.21,6.06,3.84,716,18.58
MaxCorr,76.85,63.64,90.91,75.76,7.37,0,0.02
DMC,75.88,57.58,90.91,75.76,7.52,0,0.02
1-NN,78.18,60.61,90.91,78.79,7.30,0,0.08

In [3]:
d, i = compara_todos('./transformed_data/recfaces_20x20_sem_pca_zscore.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_sem_pca_zscore.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.85,0.00,21.21,6.06,3.87,648,22.79
Variante 1(Tikhonov),77.76,60.61,90.91,78.79,6.52,0,10.61
Variante 2(Pooled),4.24,0.00,21.21,3.03,4.29,0,13.20
Variante 3(Friedman),6.67,0.00,18.18,6.06,4.02,0,10.54
Variante 4(Naive Bayes),7.39,0.00,21.21,6.06,3.84,637,20.11
MaxCorr,74.91,51.52,90.91,75.76,8.11,0,0.02
DMC,74.61,54.55,90.91,72.73,7.64,0,0.02
1-NN,78.30,63.64,90.91,78.79,6.10,0,0.08

In [4]:
d, i = compara_todos('./transformed_data/recfaces_20x20_sem_pca_minmax01.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_sem_pca_minmax01.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.24,0.00,21.21,6.06,3.85,749,20.55
Variante 1(Tikhonov),78.00,63.64,90.91,78.79,6.52,0,12.45
Variante 2(Pooled),5.09,0.00,18.18,3.03,4.43,0,10.19
Variante 3(Friedman),6.73,0.00,15.15,6.06,3.80,0,10.46
Variante 4(Naive Bayes),7.39,0.00,21.21,6.06,3.84,666,20.95
MaxCorr,76.61,63.64,90.91,75.76,7.30,0,0.02
DMC,75.27,57.58,90.91,75.76,7.48,0,0.03
1-NN,77.21,60.61,87.88,77.27,6.92,0,0.08

In [5]:
d, i = compara_todos('./transformed_data/recfaces_20x20_sem_pca_minmax11.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_sem_pca_minmax11.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.24,0.00,21.21,6.06,3.85,746,20.42
Variante 1(Tikhonov),78.00,63.64,90.91,78.79,6.41,0,12.94
Variante 2(Pooled),4.73,0.00,12.12,3.03,3.74,0,11.04
Variante 3(Friedman),6.36,0.00,18.18,6.06,3.80,0,10.40
Variante 4(Naive Bayes),7.21,0.00,21.21,6.06,4.15,664,21.23
MaxCorr,75.76,60.61,90.91,75.76,7.62,0,0.02
DMC,75.27,57.58,90.91,75.76,7.48,0,0.03
1-NN,77.21,60.61,87.88,77.27,6.92,0,0.08

## Atividade 4

In [6]:
d, i = compara_todos('./transformed_data/recfaces_20x20_pca_sem_reducao.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_pca_sem_reducao.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.24,0.00,21.21,6.06,3.85,750,2.78
Variante 1(Tikhonov),78.67,63.64,90.91,78.79,6.72,0,1.20
Variante 2(Pooled),6.24,0.00,21.21,6.06,3.85,750,3.00
Variante 3(Friedman),6.24,0.00,21.21,6.06,3.85,750,2.98
Variante 4(Naive Bayes),6.24,0.00,21.21,6.06,3.85,750,2.12
MaxCorr,76.85,63.64,90.91,75.76,7.37,0,0.01
DMC,75.88,57.58,90.91,75.76,7.52,0,0.02
1-NN,78.18,60.61,90.91,78.79,7.30,0,0.04

## Atividade 6

In [7]:
d, i = compara_todos('./transformed_data/recfaces_20x20_pca_com_reducao.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_pca_com_reducao.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...

Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.79,0.00,21.21,6.06,4.00,0,0.26
Variante 1(Tikhonov),79.03,66.67,90.91,78.79,6.35,0,0.23
Variante 2(Pooled),92.36,84.85,100.00,90.91,4.46,0,0.26
Variante 3(Friedman),91.94,81.82,100.00,90.91,4.64,0,0.29
Variante 4(Naive Bayes),70.06,57.58,84.85,69.70,6.52,0,0.15
MaxCorr,76.91,63.64,90.91,75.76,7.27,0,0.01
DMC,76.00,57.58,90.91,75.76,7.47,0,0.01
1-NN,77.09,60.61,87.88,78.79,7.18,0,0.03

## Atividade 7

In [8]:
d, i = compara_todos('./transformed_data/recfaces_20x20_boxcox_pca.dat', 50, 80)

--- CARREGANDO DADOS DE './transformed_data/recfaces_20x20_boxcox_pca.dat' ---

--- INICIANDO AVALIAÇÃO (50 repetições, 80% treino) ---
Avaliando: Quadrático...
Avaliando: Variante 1(Tikhonov)...
Avaliando: Variante 2(Pooled)...
Avaliando: Variante 3(Friedman)...
Avaliando: Variante 4(Naive Bayes)...
Avaliando: MaxCorr...
Avaliando: DMC...
Avaliando: 1-NN...

,Média,Mínimo,Máximo,Mediana,Desvio Padrão,Matrizes Singulares,Tempo (s)
Quadrático,6.67,0.00,21.21,6.06,4.37,0,0.23
Variante 1(Tikhonov),87.58,75.76,93.94,87.88,4.50,0,0.22
Variante 2(Pooled),96.00,84.85,100.00,96.97,3.50,0,0.23
Variante 3(Friedman),96.06,84.85,100.00,96.97,3.39,0,0.25
Variante 4(Naive Bayes),70.42,48.48,87.88,69.70,8.10,0,0.15
MaxCorr,84.12,72.73,93.94,84.85,4.27,0,0.01
DMC,84.06,72.73,93.94,84.85,5.65,0,0.01
1-NN,88.91,75.76,96.97,89.39,5.13,0,0.03

## Atividade 8

In [1]:
from modelos_intrusos import avaliar, modelo1, modelo2
from IPython.display import display

In [14]:
d1 = avaliar(modelo1, 'modelo_1_data.dat', 50, 80, intruso = 16)
d1

                           Média  Mínimo  Maximo  Mediana  Desvio Padrão
acuracia (%)               94.28   86.11  100.00    94.44           3.29
taxa_falsos_positivos (%)   0.00    0.00    0.00     0.00           0.00
taxa_falsos_negativos (%)  98.00    0.00  100.00   100.00          14.14
sensibilidade (%)           0.00    0.00    0.00     0.00           0.00
precisao (%)                0.00    0.00    0.00     0.00           0.00

In [13]:
d2 = avaliar(modelo2, 'modelo_2_data.dat', 50, 80, intruso = 16)
d2

                           Média  Mínimo  Maximo  Mediana  Desvio Padrão
acuracia (%)               99.89   97.22  100.00   100.00           0.55
taxa_falsos_positivos (%)   0.00    0.00    0.00     0.00           0.00
taxa_falsos_negativos (%)   1.40    0.00   50.00     0.00           7.56
sensibilidade (%)          96.60    0.00  100.00   100.00          15.86
precisao (%)               98.00    0.00  100.00   100.00          14.14

In [24]:
d1_test = avaliar(modelo1, 'modelo_1_data.dat', 50, 80, intruso = 15)
d1_test

                           Média  Mínimo  Maximo  Mediana  Desvio Padrão
acuracia (%)               93.78   86.11  100.00    94.44           3.25
taxa_falsos_positivos (%)   0.00    0.00    0.00     0.00           0.00
taxa_falsos_negativos (%)  92.00    0.00  100.00   100.00          27.40
sensibilidade (%)           0.00    0.00    0.00     0.00           0.00
precisao (%)                0.00    0.00    0.00     0.00           0.00

In [26]:
d2_test = avaliar(modelo2, 'modelo_2_data.dat', 50, 80, intruso = 15)
d2_test

                           Média  Mínimo  Maximo  Mediana  Desvio Padrão
acuracia (%)               98.11   91.67  100.00   100.00           2.34
taxa_falsos_positivos (%)   1.60    0.00    8.82     0.00           2.49
taxa_falsos_negativos (%)   4.13    0.00   50.00     0.00          11.71
sensibilidade (%)          87.87    0.00  100.00   100.00          28.65
precisao (%)               78.77    0.00  100.00   100.00          30.95